.adminlist {
    margin-top: 30px;
    &__tools {
        margin-left: 5px;
        margin-top: 20px;
        
    }
    &__body {
        overflow-x: auto;
        margin-top: 3px;
        background: #fff;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: $back-color;
        margin-left: 5px;
    }
}
.btnlist {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color:#fff;
    &-add {
        background: #6ab04c; 
        &:hover {
            background: #78af60; ;
        }
    }
    &-edit {
        background: #686de0; 
        &:hover {
            background: #8084df; 
        }
    }
    &-remove {
        background: #eb4d4b; 
        &:hover {
            background: #e7716f; 
        }
    }
    &:focus{
        outline: none;
    }
    
}
td { 
    white-space:nowrap;
    font-size: 14px;
}
